.category_create_link {
    color: rgb(0, 0, 194);
    margin: 10px auto;
}
.number_key_container {
    width: 90%;
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
}
.number_key {
    width: 33%;
    height: 10vh;
    border: solid 0.5px#ddd;
    background-color: #fff;
}
