.chart {
    height: 19vh;
    margin-bottom: 7vh;
}
.sum_container {
    display: flex;
    margin-top: 2vh;
    align-items: center;
}
.sum_lavel {
    font-size: 20px;
    padding: 0;
    margin: 0;
    margin-left: 7vh;
    color: #37479a;
}
.sum_value {
    font-size: 20px;
    padding: 0;
    margin-left: auto;
    margin-right: 13vw;
    margin-bottom: 0;
}
