.chart {
    height: 19vh;
    margin-bottom: 7vh;
}
.sum_container {
    display: flex;
    margin-top: 2vh;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    padding: 0 6vw;
    font-size: 14px;
    font-weight: bold;
}
.sum_lavel {
    margin: 0;
    color: #37479a;
}
.sum_value {
    padding: 0;
    margin-left: auto;
    margin-right: 13vw;
    margin-bottom: 0;
}
.monthly_sum_lavel {
    margin: 0;
    color: #37479a;
}
