.container {
    display: flex;
    align-items: center;
    margin-top: 0.3vh;
    margin-bottom: 0.3vh;
    height: 5vh;
    border-bottom: solid 1px #eee;
    color: #333;
    padding-left: 2vw;
}
.name {
    margin-left: 2vw;
    font-size: 18px;
    line-height: 6vh;
}
.expence_value {
    margin-left: auto;
    margin-right: 3vw;
    font-size: 20px;
    color: rgb(155, 13, 13);
}
.income_value {
    margin-left: auto;
    margin-right: 3vw;
    font-size: 20px;
    color: rgb(21, 131, 52);
}
